In [30]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [41]:
disasterCostData = "data/raw_data/MissionAssignments.csv"
cost_df = pd.read_csv(disasterCostData)
cost_df.head()

,maId,amendmentNumber,city,stateorTribe,zip,disasterNumber,declarationType,agency,assistanceRequested,statementOfWork,...,dateRequested,dateObligated,stateCostSharePct,federalCostSharePct,stateCostShareAmt,federalCostShareAmt,requestedAmount,obligationAmount,projectedCompletionDate,id
0,3345EMWVCOENAD03,3,NaN,NaN,NaN,3345,EM,COE-NAD,7/25/2012 Amendment 2 - Reduce by $1M and awa...,"Implement the Advanced Contracting Initiative,...",...,2012-07-25T20:07:37.000Z,2012-07-25T20:02:47.000Z,0.0,0.0,NaN,NaN,-1000000.00,-1000000.00,2012-07-31T00:00:00.000Z,6117f089f3de2d084ba301b6
1,3345EMWVCOELRD02,2,Philadelphia,PA,19143,3345,EM,COE-LRD,"212/2013, Amendment #2: dobligate $40,061.29 a...",Activate the USACE to perform functions of Eme...,...,2013-02-13T15:24:02.000Z,2013-02-13T14:58:54.000Z,0.0,0.0,NaN,NaN,-40061.29,-40061.29,2012-07-13T00:00:00.000Z,6117f089f3de2d084ba301ae
2,3345EMWVCOELRD02,0,Philadelphia,PA,19143,3345,EM,COE-LRD,USACE - Activate the U.S. Army Corps of Engine...,Activate the USACE to perform functions of Eme...,...,2012-07-02T12:13:42.000Z,2012-07-01T22:10:10.000Z,0.0,1.0,0.0,46500.0,46500.00,46500.00,2012-07-07T00:00:00.000Z,6117f089f3de2d084ba301ac
3,3345EMWVCOENAD01,1,Washington,DC,20472,3345,EM,COE-NAD,Amend to deobligated and close this MA in the ...,Post-Declaration activation for appropriate US...,...,2012-08-21T15:14:30.000Z,2012-08-21T14:12:04.000Z,0.0,0.0,NaN,NaN,-5672.82,-5672.82,2012-07-07T00:00:00.000Z,6117f089f3de2d084ba301b0
4,3345EMWVDOT01,0,Washington,DC,20472,3345,EM,DOT,Activate Department of Transportation (DOT) to...,Post Declaration activation for appropriate DO...,...,2012-07-01T15:50:22.000Z,2012-07-01T00:41:08.000Z,0.0,1.0,0.0,2000.0,2000.00,2000.00,2012-07-07T00:00:00.000Z,6117f089f3de2d084ba301c4

In [3]:
disasterGroup = cost_df.groupby(["disasterNumber"]).sum()
disasterGroup.head()

,amendmentNumber,stateCostSharePct,federalCostSharePct,stateCostShareAmt,federalCostShareAmt,requestedAmount,obligationAmount
disasterNumber,,,,,,,
3345,77,0.25,31.0,0.0,3481939.92,904490.14,904490.14
3346,18,0.75,7.5,225000.0,906000.00,842464.67,842464.67
3347,210,0.00,59.0,0.0,8865692.86,1409793.92,1409793.92
3348,22,0.00,11.0,0.0,2155000.00,253189.73,253189.73
3349,6,0.00,4.0,0.0,800000.00,0.00,0.00

In [4]:
disasterGroup = disasterGroup[["obligationAmount"]]
disasterGroup.reset_index(inplace=True)
disasterGroup.head()

   disasterNumber  obligationAmount
0            3345         904490.14
1            3346         842464.67
2            3347        1409793.92
3            3348         253189.73
4            3349              0.00

In [42]:
disaster_summaries = 'data/raw_data/disasterData.csv'
disaster_summaries_df = pd.read_csv(disaster_summaries)
disaster_summaries_df = disaster_summaries_df[disaster_summaries_df["lat"] != "unknown"]
disaster_summaries_df.head()

,Unnamed: 0,femaDeclarationString,disasterNumber,state,state.1,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,...,fipsCountyCode,placeCode,designatedArea,declarationRequestNumber,hash,lastRefresh,id,countyState,lat,lon
0,0,DR-4607-MI,4607,MI,Michigan,DR,2021-07-15T10:41:00.000Z,2021,Severe Storms,"SEVERE STORMS, FLOODING, AND TORNADOES",...,163,99163,Wayne County,21051,6862d74686de9eaea31be8c0d33a0051867f674c,2021-07-17T02:42:14.846Z,60f243865d037ccb7d217dbd,"Wayne County, Michigan",42.2682408,-83.2844172
1,1,DR-4607-MI,4607,MI,Michigan,DR,2021-07-15T10:41:00.000Z,2021,Severe Storms,"SEVERE STORMS, FLOODING, AND TORNADOES",...,161,99161,Washtenaw County,21051,c9f45069cae6640e009712d996cd8481e7b081f0,2021-07-17T02:42:14.846Z,60f243865d037ccb7d217dba,"Washtenaw County, Michigan",42.2582044,-83.8440853
2,2,FM-5398-WA,5398,WA,Washington,FM,2021-07-14T18:36:00.000Z,2021,Fire,RED APPLE FIRE,...,0,0,Statewide,21054,0a1f400f649de3ab95d21912ded0f302c7473449,2021-07-17T02:42:15.243Z,60f243875d037ccb7d2181eb,Washington,38.8949924,-77.0365581
4,4,FM-5396-OR,5396,OR,Oregon,FM,2021-07-10T20:22:00.000Z,2021,Fire,BOOTLEG FIRE,...,35,99035,Klamath County,21053,d5f2cd7a57557a2f7e245570c783bc293a14b530,2021-07-17T02:42:15.241Z,60f243875d037ccb7d2181e5,"Klamath County, Oregon",42.6052565,-121.739544
5,5,FM-5395-WA,5395,WA,Washington,FM,2021-07-06T00:05:00.000Z,2021,Fire,ANDRUS FIRE,...,63,99063,Spokane County,21050,1405e7ec10c3c404b02589533efbed63c62b608d,2021-07-13T23:02:24.882Z,60e704ec5d037ccb7d7c4eeb,"Spokane County, Washington",47.5354964,-117.4074674

In [9]:
new_disaster_summaries_df = disaster_summaries_df[['disasterNumber', 'state','incidentType', 'declarationTitle',
                                                   'incidentBeginDate', 'lat', 'lon']]
new_disaster_summaries_df

,disasterNumber,state,incidentType,declarationTitle,incidentBeginDate,lat,lon
0,4607,MI,Severe Storms,"SEVERE STORMS, FLOODING, AND TORNADOES",2021-06-25T00:00:00.000Z,42.2682408,-83.2844172
1,4607,MI,Severe Storms,"SEVERE STORMS, FLOODING, AND TORNADOES",2021-06-25T00:00:00.000Z,42.2582044,-83.8440853
2,5398,WA,Fire,RED APPLE FIRE,2021-07-13T03:01:00.000Z,38.8949924,-77.0365581
4,5396,OR,Fire,BOOTLEG FIRE,2021-07-10T03:01:00.000Z,42.6052565,-121.739544
5,5395,WA,Fire,ANDRUS FIRE,2021-07-05T03:01:00.000Z,47.5354964,-117.4074674
...,...,...,...,...,...,...,...
22140,1941,MN,Severe Storms,SEVERE STORMS AND FLOODING,2010-09-22T16:30:00.000Z,44.0137336,-93.2203671
22141,1941,MN,Severe Storms,SEVERE STORMS AND FLOODING,2010-09-22T16:30:00.000Z,43.9582272,-91.7807784
22142,1941,MN,Severe Storms,SEVERE STORMS AND FLOODING,2010-09-22T16:30:00.000Z,44.7198536,-95.8533555
22143,1940,AZ,Severe Storms,SEVERE STORMS AND FLOODING,2010-07-20T16:30:00.000Z,35.9363252,-111.6948197
22144,1940,AZ,Severe Storms,SEVERE STORMS AND FLOODING,2010-07-20T16:30:00.000Z,35.6734241,-110.9302906

In [31]:
new_disaster_summaries_df.drop_duplicates(subset=['disasterNumber'], keep = 'first', inplace = True)
new_disaster_summaries_df

,disasterNumber,state,incidentType,declarationTitle,incidentBeginDate,lat,lon
0,4607,MI,Severe Storms,"SEVERE STORMS, FLOODING, AND TORNADOES",2021-06-25T00:00:00.000Z,42.2682408,-83.2844172
2,5398,WA,Fire,RED APPLE FIRE,2021-07-13T03:01:00.000Z,38.8949924,-77.0365581
4,5396,OR,Fire,BOOTLEG FIRE,2021-07-10T03:01:00.000Z,42.6052565,-121.739544
5,5395,WA,Fire,ANDRUS FIRE,2021-07-05T03:01:00.000Z,47.5354964,-117.4074674
6,3561,FL,Severe Storms,TROPICAL STORM ELSA,2021-07-04T00:01:00.000Z,28.5710156,-82.4605068
...,...,...,...,...,...,...,...
22088,1944,WI,Severe Storms,SEVERE STORMS AND FLOODING,2010-09-22T22:00:03.000Z,44.4073658,-91.7547858
22097,1943,NY,Tornado,"SEVERE STORMS, TORNADOES, AND STRAIGHT-LINE ...",2010-09-16T00:00:00.000Z,40.64530975,-73.9550230275334
22100,1942,NC,Severe Storms,"SEVERE STORMS, FLOODING, AND STRAIGHT-LINE W...",2010-09-27T15:18:00.000Z,35.469331,-76.8927522
22114,1941,MN,Severe Storms,SEVERE STORMS AND FLOODING,2010-09-22T16:30:00.000Z,44.0109722,-94.0560643
22143,1940,AZ,Severe Storms,SEVERE STORMS AND FLOODING,2010-07-20T16:30:00.000Z,35.9363252,-111.6948197

In [22]:
#disaster_cost_df = disasterGroup.join(new_disaster_summaries_df, on='disasterNumber')
disaster_cost_df = pd.merge(disasterGroup, new_disaster_summaries_df, on='disasterNumber')
disaster_cost_df

,disasterNumber,obligationAmount,state,incidentType,declarationTitle,incidentBeginDate,lat,lon
0,3345,904490.14,WV,Severe Storms,SEVERE STORMS,2012-06-29T22:30:00.000Z,39.4535243,-78.0395522
1,3346,842464.67,OH,Severe Storms,SEVERE STORMS,2012-06-29T22:00:00.000Z,38.8398935,-83.5051704
2,3347,1409793.92,LA,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z,30.2116442,-90.9186104
3,3348,253189.73,MS,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z,33.0777868,-89.5680661
4,3349,0.00,MD,Hurricane,HURRICANE SANDY,2012-10-26T15:36:00.000Z,38.5288529,-76.537764
...,...,...,...,...,...,...,...,...
401,4589,78140.23,ID,Severe Storms,STRAIGHT-LINE WINDS,2021-01-13T00:00:00.000Z,48.2663565,-116.5952716
402,4593,2500.00,WA,Severe Storms,"SEVERE WINTER STORM, STRAIGHT-LINE WINDS, FL...",2020-12-29T00:00:00.000Z,47.9998383,-123.7373472
403,4601,10000.00,TN,Tornado,"SEVERE STORMS, TORNADOES, AND FLOODING",2021-03-25T00:01:00.000Z,36.3865389,-84.1351617
404,4606,10000.00,LA,Flood,"SEVERE STORMS, TORNADOES, AND FLOODING",2021-05-17T08:00:00.000Z,30.2116442,-90.9186104
405,4607,161200.00,MI,Severe Storms,"SEVERE STORMS, FLOODING, AND TORNADOES",2021-06-25T00:00:00.000Z,42.2682408,-83.2844172

In [23]:
disaster_cost_df['incidentType'].unique()

array(['Severe Storms', 'Hurricane', 'Terrorist', 'Other', 'Flood',
       'Chemical', 'Severe Ice Storm', 'Mud/Landslide', 'Fire',
       'Dam/Levee Break', 'Earthquake', 'Coastal Storm', 'Biological',
       'Tornado', 'Snow', 'Volcano'], dtype=object)

In [24]:
print(disaster_cost_df.shape)

(406, 8)

In [25]:
filtered_cost_df = disaster_cost_df[disaster_cost_df["incidentType"].str.contains("Terrorist|Other|Chemical|Dam/Levee Break|Biological")==False]

print(filtered_cost_df.shape)

(325, 8)

In [26]:
filtered_cost_df['incidentType'].nunique()

11

In [27]:
filtered_cost_df.head()

,disasterNumber,obligationAmount,state,incidentType,declarationTitle,incidentBeginDate,lat,lon
0,3345,904490.14,WV,Severe Storms,SEVERE STORMS,2012-06-29T22:30:00.000Z,39.4535243,-78.0395522
1,3346,842464.67,OH,Severe Storms,SEVERE STORMS,2012-06-29T22:00:00.000Z,38.8398935,-83.5051704
2,3347,1409793.92,LA,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z,30.2116442,-90.9186104
3,3348,253189.73,MS,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z,33.0777868,-89.5680661
4,3349,0.00,MD,Hurricane,HURRICANE SANDY,2012-10-26T15:36:00.000Z,38.5288529,-76.537764

In [32]:
filtered_cost_df[['incidentDate','incidentTime']] = filtered_cost_df['incidentBeginDate'].str.split('T',expand=True)
filtered_cost_df.head()

,disasterNumber,obligationAmount,state,incidentType,declarationTitle,incidentBeginDate,lat,lon,incidentDate,incidentTime
0,3345,904490.14,WV,Severe Storms,SEVERE STORMS,2012-06-29T22:30:00.000Z,39.4535243,-78.0395522,2012-06-29,22:30:00.000Z
1,3346,842464.67,OH,Severe Storms,SEVERE STORMS,2012-06-29T22:00:00.000Z,38.8398935,-83.5051704,2012-06-29,22:00:00.000Z
2,3347,1409793.92,LA,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z,30.2116442,-90.9186104,2012-08-26,00:00:00.000Z
3,3348,253189.73,MS,Hurricane,TROPICAL STORM ISAAC,2012-08-26T00:00:00.000Z,33.0777868,-89.5680661,2012-08-26,00:00:00.000Z
4,3349,0.00,MD,Hurricane,HURRICANE SANDY,2012-10-26T15:36:00.000Z,38.5288529,-76.537764,2012-10-26,15:36:00.000Z

In [43]:
filtered_cost_df.to_csv('../costDataRevised.csv')